<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>[Title]</title>
	<link rel="stylesheet" href="/static/bower_components/semantic-ui/dist/semantic.css">
	<link rel="stylesheet" href="/static/src/app.css">
</head>
<body>
	<div class="full-page">
		<h1>[Product Name]</h1>
		<h2>Some Information here</h2>
		<div class="">
			<a href="/signup" class="ui basic inverted big button">Register</a>
			<a href="/signin" class="ui basic inverted big button">Log in</a>
		</div>
	</div>
</body>
</html>