<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>User | [Title]</title>
	<link rel="stylesheet" href="/static/bower_components/semantic-ui/dist/semantic.css">
	<link rel="stylesheet" href="/static/src/app.css">
	<style>
	.card{
		margin-top: 10px !important;
	}
	.item{
		cursor: pointer;
	}
	.content:hover{
		color: black;
	}
	.button{
		font-weight: normal !important;
	}
	</style>
</head>
<body>
	<div class="page" id="app">
	</div>
	<script>
	var data = {{data | tojson}};
	</script>
	<script src="/static/dist/index.js"></script>
</body>
</html>
